.avatar{
    width: 120px;
    height: 120px;
    object-fit: cover;
}
.formContainer span{
    font-weight: 600;

}

.formContainer button{
    
height: 42px;
background: #8A2BE2FF !important;
border-radius: 50px !important;
color: white;
padding: 0 1rem;
font-weight: 500;

}
.formContainer button:hover{
    background: #8A2BE2FF !important;
    color: white;
}
.delete_btn{
    background-color: red !important;
}
